numpy==2.1
pandas
matplotlib
seaborn
plotly
matplotlib-venn
missingno
graphviz
scikit-learn
featuretools
yfinance
tabulate
openpyxl
jupyter
termynal
rich[jupyter]
ydata-profiling
ipywidgets

mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-badges
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-render-swagger-plugin
mkdocs-jupyter
markdown-grid-tables
markdown-exec[ansi]
